@import url('../constants/theme-colors.css');

/* Header Image */
.c-header-image {
	height: 80%;
	max-width: 100%;
	display: block;
	margin: auto;
	object-fit: cover;
}

/* Back Button */
.c-back-button-container {
	display: flex;
	border-radius: 40px;
	height: auto;
	background-color: rgba(var(--nav-background), 0.8);
	backdrop-filter: blur(9px);
	justify-self: center;
	justify-content: center;
	align-items: center;
	padding: 7px 8px 7px 8px;
}

.c-back-button {
	text-decoration: none;
	border: 1px solid var(--description-text);
	border-radius: 20px;
	border-color: var(--description-text);
	color: var(--description-text);
	padding: 5px 15px 5px 15px;
	margin: 0px 2px 0px 2px;
	transition:
		border-color 0.3s ease,
		background-color 0.3s ease;
}

.c-back-button:hover {
	border-color: rgb(var(--title-text));
	background-color: rgba(var(--title-text), 0.1);
}

.c-header-image-container {
	height: 200px;
	background-color: #50fbb3;
}

/* Project Info */
.c-info-container {
    text-align: left;
    padding: 25px 0px 25px 0px;
}

.c-learn-more-btn {
    display: flex;
    align-items: center;
	background-color: transparent;
	border: 2px solid var(--primary);
	color: var(--primary);
	transition: all 0.2s ease-in-out;
	transform: scale(1);
}

.c-learn-more-btn:hover {
	background-color: var(--primary);
	border: 2px solid var(--primary);
	color: var(--card-bg-color);
	box-shadow: 0 0 10px var(--primary);
	transform: scale(1.05);
}
/* Icon/Link Buttons */
.c-img-btn {
	padding: 0;
  	transition: transform 0.3s ease; /* Smooth transition */	
}

.c-img-btn:hover {
	transform: rotate(20deg);
}

.c-image {
	width: 43px;
	height: 43px;
	padding: 0;
	margin: 0;
}

svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

svg path{
    fill: currentColor;
}

.c-ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

/* Carousel */
/* Carousel card - START */

.c-carousel-div{
    padding: 0;
}

/* Outermost container for carousel card */
.c-carousel-item {
    display: flex !important;
    flex: 0 0 33.33% !important;
    justify-content: center !important;
	background-color: var(--card-bg-color);
	height: auto;
	padding: 46px;
}

.c-mobile-image {
	margin-top: 15px;
	height: 400px;
	box-shadow: 0 0 5px var(--shadow-color);
	border-radius: 20px;
}

.c-web-image {
	margin-top: 15px;
	width: 100%;
	border-radius: 10px;
}
/* Crousel card - END */

/* Previous button for carousel */
.c-carousel-control-prev {
	width: 30px;
	margin: 20px 0px 0px 20px;
	align-self: flex-start;
}

/* Next button for carousel */
.c-carousel-control-next {
	width: 30px;
	margin: 20px 20px 0px 0px;
	align-self: flex-start;
}

.c-section {
    padding: 0px 25px 0px 25px;
}