@import url('../constants/theme-colors.css');

.c-header-image-container {
	top: 0;
	position: sticky;
	z-index: 1;
	overflow: hidden;
}

/* Header Image */
.c-header-image {
	max-height: 90vh;
	max-width: 80vw;
	width: 100%;
	display: block;
	margin: auto;
	object-fit: contain;
}

/* Back Button */
.c-back-button-container {
	display: flex;
	border-radius: 40px;
	height: auto;
	background-color: rgba(var(--nav-background), 0.8);
	backdrop-filter: blur(9px);
	justify-self: center;
	justify-content: center;
	align-items: center;
	padding: 7px 8px 7px 8px;
}

.c-back-button {
	text-decoration: none;
	border: 1px solid var(--description-text);
	border-radius: 20px;
	border-color: var(--description-text);
	color: var(--description-text);
	padding: 5px 15px 5px 15px;
	margin: 0px 2px 0px 2px;
	transition:
		border-color 0.3s ease,
		background-color 0.3s ease;
}

.c-back-button:hover {
	border-color: rgb(var(--title-text));
	background-color: rgba(var(--title-text), 0.1);
}

.c-header-image-container {
	height: 100vh;
	background-color: #46FFB4
}

/* Project Info */
.c-info-container {
	text-align: left;
	position: relative;
	padding: 2em 1em 2em 1em;
	background-color: var(--background);
	z-index: 2;
}

.c-learn-more-btn {
	display: flex;
	align-items: center;
	background-color: transparent;
	border: 2px solid var(--primary);
	color: var(--primary);
	transition: all 0.2s ease-in-out;
	transform: scale(1);
}

.c-learn-more-btn:hover {
	background-color: var(--primary);
	border: 2px solid var(--primary);
	color: var(--card-bg-color);
	box-shadow: 0 0 10px var(--primary);
	transform: scale(1.05);
}
/* Icon/Link Buttons */
.c-img-btn {
	padding: 0;
	transition: transform 0.3s ease; /* Smooth transition */
}

.c-img-btn:hover {
	transform: rotate(20deg);
}

.c-image {
	width: 43px;
	height: 43px;
	padding: 0;
	margin: 0;
}

svg {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

svg path {
	fill: currentColor;
}

.c-ul {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	align-items: center;
	justify-content: center;
}

.c-screenshot-container {
	display: grid;
	border-radius: 2em;
	padding: 2em;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	justify-items: center;
	row-gap: 2em;	
	background-color: var(--card-bg-color);
}

.c-screenshot-container::-webkit-scrollbar {
	width: 12px; /* Width of the scrollbar */
	height: 12px; /* Height for horizontal scrollbar */
}

/* Style the scrollbar track (background) */
.c-screenshot-container::-webkit-scrollbar-track {
	background: var(--scrollbar-track-color);
}

.c-screenshot-container::-webkit-scrollbar-thumb {
	background: rgba(var(--primary-rgb), 0.8);
	border-radius: 10px;
}

.c-screenshot-container::-webkit-scrollbar-thumb:hover {
	background: rgba(var(--primary-rgb), 1);
}

.c-mobile-image {
	height: 30em;
	border-radius: 20px;
}

.c-section {
}

.c-screenshots{
	padding: 2em;
	border-radius: 2em;
	background-color: var(--card-bg-color);
}

@media (min-width: 450px) {
	.c-ul {
		justify-content: start;
		align-items: start;
	}
}

@media (min-width: 1000px) {
	.c-info-container {
		padding: 4em 30em 4em 30em;
	}
	.c-section {
		padding: 0;
	}
}
