@import url('../constants/theme-colors.css');

/* CAROUSEL */
/* Outermost carousel container */
.c-carousel-div {
	display: flex;
	height: auto;
	margin-top: 30px;
}

.c-carousel-inner {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

/* Carousel card - START */
/* Outermost container for carousel card */
.c-carousel-item {
	justify-items: center;
	align-content: center;
	background-color: var(--card-bg-color);
	border-radius: 20px;
	height: 120vh;
	padding: 46px;
}

/* Project Info (parent of header, description, and Learn More button) */
.c-project-info {
	padding: 0;
	justify-items: center;
	width: 70vw;
}

/* Project Header (parent of app icon img, project title, project type) */
.c-project-header {
	justify-items: center;
	margin-bottom: 16px;
}

/* App icon img */
.c-icon-img {
	height: 60px;
	width: 60px;
}

.c-project-title-and-type {
	margin-top: 8px;
	justify-items: center;
}

.c-project-title {
	margin-bottom: 0px;
}

.c-project-type {
	font-size: 14px;
	margin-top: 4px !important;
}

.c-bullet {
	width: 6px;
	height: 6px;
	background-color: var(--secondary); /* Adjust color */
	border-radius: 50%;
	display: inline-block;
	margin: 0 6px; /* Space around the bullet */
	position: relative;
	bottom: 1px;
}

.c-check-mark-circle {
	height: 15px;
	width: 15px;
	margin-left: 5px;
	position: relative;
	bottom: 2px;
}

.c-p {
	font-size: 16px;
}

.c-learn-more-btn {
	background-color: transparent;
	border: 2px solid var(--primary);
	color: var(--primary);
	transition: all 0.2s ease-in-out;
	transform: scale(1);
}

.c-learn-more-btn:hover {
	background-color: var(--primary);
	border: 2px solid var(--primary);
	color: var(--card-bg-color);
	box-shadow: 0 0 10px var(--primary);
	transform: scale(1.05);
}

.c-mobile-image {
	margin-top: 15px;
	height: 400px;
	box-shadow: 0 0 5px var(--shadow-color);
	border-radius: 20px;
}

.c-web-image {
	margin-top: 15px;
	width: 100%;
	border-radius: 10px;
}

/* Crousel card - END */

/* Previous button for carousel */
.c-carousel-control-prev {
	width: 30px;
	margin: 20px 0px 0px 20px;
	align-self: flex-start;
}

/* Next button for carousel */
.c-carousel-control-next {
	width: 30px;
	margin: 20px 20px 0px 0px;
	align-self: flex-start;
}

/* min-width 500px represents non-mobile (e.g. tablet, laptop, desktop) */
@media (min-width: 500px), (min-width: 992px) {
	.c-project-header {
		display: flex;
		align-items: center;
	}
	.c-project-title-and-type {
		margin-top: 0px;
		justify-items: flex-start;
	}
	.c-carousel-item {
		height: 97vh;
	}

	.c-icon-img {
		margin-right: 15px;
	}
}

@media (min-height: 750px) {
	.c-carousel-item {
		height: 90vh;
	}
}

@media (min-width: 750px) {
	.c-carousel-inner {
		padding-left: 5rem !important;
		padding-right: 5rem !important;
	}

	.c-carousel-item {
		height: 70vh;
	}

	.c-carousel-control-prev {
		margin: 20px 0px 0px 6rem;
	}

	/* Next button for carousel */
	.c-carousel-control-next {
		margin: 20px 6rem 0px 0px;
	}

	.c-project-info {
		width: 50vw;
	}
}

@media (min-height: 1100px) {
	.c-carousel-item {
		height: 60vh;
	}
}

@media (min-height: 1270px) {
	.c-carousel-item {
		height: 55vh;
	}
}

@media (max-width: 1024px) and (max-height: 600px) {
	.c-carousel-item {
		height: 120vh;
	}
}

/* represents desktop/larger monitors */
@media (min-width: 1270px) {
	.c-carousel-inner {
		padding-left: 3rem !important;
		padding-right: 3rem !important;
	}

	.c-carousel-div {
		justify-self: center;
		padding-left: 7vw;
		padding-right: 7vw;
	}
	.c-carousel-item {
		display: flex !important;
		justify-items: start !important;
		height: 100%;
		padding-left: 60px;
		padding-right: 60px;
	}
	.c-project-info {
		padding: 0;
		justify-items: start;
		justify-self: start !important;
		align-content: center !important;
		margin: 0;
		width: 50% !important;
	}

	/* App icon img */
	.c-icon-img {
		height: 100px;
		width: 100px;
	}

	.c-project-title-and-type {
		margin-top: 8px;
		justify-items: start;
	}

	.c-project-title {
		font-size: 34px;
		margin-bottom: 0px;
	}

	.c-project-type {
		font-size: 20px;
		margin-top: 4px !important;
	}

	.c-check-mark-circle {
		height: 20px;
		width: 20px;
	}

	.c-p {
		margin-top: 20px;
		font-size: 20px;
	}

	.c-learn-more-btn {
		margin-top: 10px;
		font-size: 20px;
	}

	.c-mobile-image {
		margin-right: auto;
		margin-left: auto;
		height: 380px;
	}

	.c-web-image {
		margin-left: auto;
		width: 45%;
		object-fit: contain;
	}

	/* Previous button for carousel */
	.c-carousel-control-prev {
		margin-left: 80px;
		align-self: center;
	}

	/* Next button for carousel */
	.c-carousel-control-next {
		margin-right: 80px;
		align-self: center;
	}
}
